<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <article>
      <section v-for="group, recipes in groups">
        <h2 v-bind:id="group">{{ group }}</h2>
        <div class="recipe" v-for="recipe in recipes">
          <h3>{{ recipe.title }}</h3>
          {{ ', '.join(ingredient.name for ingredient in recipe.ingredients) }}
        </div>
      </section>
    </article>
  </body>
</html>
