<html>
  <head>
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
  </head>
  <body>
    <h1>{{ recipe.title }}</h1>
    <div class="info-bar">
      <div v-if="recipe.preparation_time" class="preparation-time">
        {{ fmt_time(recipe.preparation_time) }}
      </div>
    </div>
    <section v-if="recipe.description" class="description">
      {{ recipe.description }}
    </section>
    <img v-if="recipe.image" v-bind:src="recipe.image.as_b64()" v-bind:alt="recipe.title">
    <main>
      <div class="column left">
        <section id="ingredients">
          <h2>Ingredients</h2>
          <div v-if="recipe.amount" class="yields">
            {{ recipe.amount }} {{ recipe.amount_unit }}
          </div>
          <ul class="ingredients">
            <li v-for="ingredient in recipe.ingredients">
              <template v-if="is_group(ingredient)">
                <h3>{{ ingredient.name }}</h3>
                <ul class="subingredients">
                  <li v-for="sub_ingredient in ingredient.ingredients">
                    <span class="amount">
                      {{ sub_ingredient.amount }} {{ sub_ingredient.unit }}
                    </span>
                    <span class="item">{{ sub_ingredient.name }}</span>
                  </li>
                </ul>
              </template>
              <template v-if="not is_group(ingredient)">
                <span class="amount">
                  {{ ingredient.amount }} {{ ingredient.unit }}
                </span>
                <span class="item">{{ ingredient.name }}</span>
              </template>
            </li>
          </ul>
        </section>
      </div>
      <div class="column right">
        <section id="instructions">
          <h2>Instructions</h2>
          {{ make_paragraphs(recipe.instruction) }}
        </section>
        <template v-if="recipe.notes">
          <hr>
          <section id="notes">
            <h2>Notes</h2>
            {{ recipe.notes }}
          </section>
        </template>
      </div>
    </main>
  </body>
</html>
